{% extends 'BaseTemplate.html' %}

{% block scripts %}
<link type="text/css" href="../static/jquery-ui-1.8.11.custom.css" rel="stylesheet"></link>
<script type="application/javascript" src="../js/jquery-1.5.1.min.js"></script>
<script type="application/javascript" src="../js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="application/javascript" src="../js/jquery_form.js"></script>
<script type="application/javascript" src="../js/start.js"></script>
{% endblock %}	  

{% block content %}
<div id="start">
	<div class="blurb">
		<h4>Start Here:</h4>
		<p>Welcome to my Delicious Tag Visualizer. This application is designed to show the relationship between your tags. For any tag, 
		it show the other tags that appear with it, and the number of times the two tags appear together. This application only uses
		the public interface to Delcious. There is no need to enter your password or provide any information other than your user name.</p>
		<p>Type in your Delicious user name here and hit OK. Your tag list will be fetched from Delicious. Then you can select one of your 
		tags to start the visualization process. You will be able to "drill down" thtough the tag relationships by extending the graph
		from that starting tag.</p>
		<p>Please be patient when using this application. Fetching tags and other data from Delicious is not exactly internet-fast, for some
		reason. That is why the application works by building the graph from a start tag. Also the graphing package that I am using slows down as the graph gets bigger. I recommend using this app to explore 
		reasonably closely related tags so that the graph does not get too big</p>
	</div>
	<div class="clearfix">
		<div id="formcontainer">
			<form id="starter" action="startTagSelector" method="post">
				<div class="clearfix">
					<label for="getUserName">Enter your Delicious User Name:</label>
					<input type="text" name="getUserName"/>
				</div>
				<div class="clearfix">	
					<input id="okbutton" type="submit" value="Goferit"/>
				</div>
			</form>
		</div>
		<div id="comments">
			<div class="ui-widget" id="formError">
				<div class="ui-state-error ui-corner-all">  <!--style="padding: 0 .7em;"--> 
					<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					Please enter a valid Delicious user name.</p>
				</div>
			</div>
		</div>
	</div>	
	<div id="loading" style="display:none">
		Fetching your tags from Delicious... Please Wait....
		<img src="../static/images/Loading.gif" alt="Loading" />
	</div>
</div>
{% endblock %}	
